* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color-scheme: dark;
}
body {
  color: #eee;
  font-size: 1.125rem;
  font-family: system-ui;
  line-height: 1.5;
}

.wrapper {
  width: min(900px, 100%-3rem);
  margin-inline: auto;
}
h1 {
  text-align: center;
  margin-top: 5rem;
}
table {
  padding: 4rem 10rem;
  margin-inline: auto;
}

table{
    background: #323232;
    border-collapse:collapse;
    
}
th,td{
    padding:1rem;
}

