@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:1px solid red;
}

@media(min-width: 1020px){
.bg-hero{
    width:2000px;
    height:300px;
    left:30%;
    
    @apply absolute top-52 bg-softBlue rounded-l-full;
}
}